nav.side-menu
    div.side-menu__title
        div.side-menu__title-image
        div.side-menu__title-text
            h2 Dashboard
            span v.01
    ul.side-menu__list
    div.side-menu__user
        div.side-menu__user-photo
            img(src='/public/images/User_photo.png', alt='User Photo', style='width: 42px; height: 42px;')
        div.side-menu__user-text
            span.side-menu__user-name
            p.side-menu__user-position Project Manager
